<!doctype html>
<html lang="en">
  <head>
    <title><% albumTitle %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <main>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/"><img class="logo" src="/misc/the_strokes_logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        
                      <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Band Members
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Julian_Casablancas">
                                            Julian Casablancas
                                      </a>
                                      <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Nick_Valensi">
                                            Nick Valensi
                                      </a>
                                      <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Albert_Hammond_Jr.">
                                            Albert Hammond Jr.
                                      </a>
                                      <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Nikolai_Fraiture">
                                            Nikolai Fraiture
                                      </a>
                                      <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Fabrizio_Moretti">
                                        Fabrizio Moretti
                                  </a>
                                  </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Albums
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/albums/<%= urlName[0] %>">
                                    <img class="dropdownimg" src="/images/<%= coverImage[0] %>" alt=""> <%= allAlbums[0] %>
                            </a>
                            <a class="dropdown-item" href="/albums/<%= urlName[1] %>">
                                    <img class="dropdownimg" src="/images/<%= coverImage[1] %>" alt=""> <%= allAlbums[1] %>
                            </a>
                            <a class="dropdown-item" href="/albums/<%= urlName[2] %>">
                                    <img class="dropdownimg" src="/images/<%= coverImage[2] %>" alt=""> <%= allAlbums[2] %>
                            </a>
                            <a class="dropdown-item" href="/albums/<%= urlName[3] %>">
                                    <img class="dropdownimg" src="/images/<%= coverImage[3] %>" alt=""> <%= allAlbums[3] %>
                            </a>
                            <a class="dropdown-item" href="/albums/<%= urlName[4] %>">
                                    <img class="dropdownimg" src="/images/<%= coverImage[4] %>" alt=""> <%= allAlbums[4] %>
                            </a>
                            <a class="dropdown-item" href="/albums/<%= urlName[5] %>">
                                    <img class="dropdownimg" src="/images/<%= coverImage[5] %>" alt=""> <%= allAlbums[5] %>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link" href="/feedback">Feedback</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                  <div class="album-header-container">
                    <div class="title-date-container">
                        <div class="title-date-row albumtitle" style="font-family: 'Audiowide', cursive;"><%= albumTitle %></div>
                        <div class="title-date-row albumrelease"><%= albumRelease %></div>
                    </div>
                    <div class="title-date-container">
                        <img class="albumcover" src="/images/<%= albumCover %>" alt="">
                    </div>
                  </div>
                  <div>
                        <div class="text-center summary-container">
                                <div class="summary">
                                    <%= Summary %>
                                </div>
                            </div>
                        <h2 class="subtitle">Song List</h2>
                        <div class="songlist">
                            <ol class="text-center">
                                <%if (albumSongs[0].length > 0) { %>
                                    <% for (i=0; i< albumSongs[0].length; i++) { %>
                                        <li class="lisongs"><%= albumSongs[0][i] %></li>
                                <% } %>
                                <% } %>
                            </ol>
                        </div>
                  </div>
      </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>